<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IntegratedServletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VenueAndConcertSearchQuery</display-name>
    <servlet-name>VenueAndConcertSearchQuery</servlet-name>
    <servlet-class>lecture464.servlet.VenueAndConcertSearchQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenueAndConcertSearchQuery</servlet-name>
    <url-pattern>/VenueAndConcertSearchQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConcertSearchResult</display-name>
    <servlet-name>ConcertSearchResult</servlet-name>
    <servlet-class>lecture464.servlet.ConcertSearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConcertSearchResult</servlet-name>
    <url-pattern>/ConcertSearchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReview</display-name>
    <servlet-name>CustomerReview</servlet-name>
    <servlet-class>lecture464.servlet.CustomerReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReview</servlet-name>
    <url-pattern>/CustomerReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shopping</display-name>
    <servlet-name>Shopping</servlet-name>
    <servlet-class>lecture464.servlet.Shopping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shopping</servlet-name>
    <url-pattern>/Shopping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionConfirmation</display-name>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <servlet-class>lecture464.servlet.CustomerTransactionConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <url-pattern>/CustomerTransactionConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrder</display-name>
    <servlet-name>ViewOrder</servlet-name>
    <servlet-class>lecture464.model.ViewOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrder</servlet-name>
    <url-pattern>/ViewOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vieworder</display-name>
    <servlet-name>Vieworder</servlet-name>
    <servlet-class>lecture464.servlet.Vieworder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vieworder</servlet-name>
    <url-pattern>/Vieworder</url-pattern>
  </servlet-mapping>
</web-app>